<!-- <app-user/>
<router-outlet /> -->


<div>
    <h1>Que es angular?</h1>
    <article>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquam placeat harum sit cupiditate facilis
            ut deleniti ex rem tempora suscipit reprehenderit modi dolores quidem facere voluptatem delectus, omnis
            nobis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, consectetur praesentium architecto
            facilis quae, voluptates natus quis, quasi culpa unde tempore reiciendis minus repellat velit voluptatum
            deleniti quas ipsum animi.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque consectetur vel, expedita, dignissimos ad
            est sit iure esse autem, veritatis explicabo nemo. Repellendus quae, dignissimos quas eaque voluptatum
            libero nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt fuga quos maiores quo
            temporibus. Est, magnam unde. Error, veniam, facere explicabo cumque aperiam magnam ipsam voluptatem
            adipisci id, consequuntur numquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nihil ducimus qui eligendi ipsum excepturi
            soluta dolores veritatis, asperiores quidem, facilis, amet voluptate corrupti perferendis. Tempora,
            voluptate. Ea, iste totam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias provident
            pariatur sint cupiditate non sequi neque, animi fugiat quod laborum veniam nam accusantium vitae cumque
            mollitia et sapiente architecto? Impedit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, itaque placeat ullam minus, autem eos
            tempore consectetur temporibus voluptate quod suscipit fuga rem consequatur tempora dicta porro commodi
            mollitia eveniet! Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, error! Blanditiis,
            molestiae ipsa id suscipit dicta pariatur repudiandae! Accusantium exercitationem explicabo laborum
            necessitatibus nihil quidem nostrum, accusamus hic saepe perspiciatis.</p>
    </article>
    @defer (on viewport){

    <app-comments></app-comments>
    }@placeholder {
    <p>Comentarios</p>
    }@loading {
    <p>Cargando comentarios...</p>
    }
</div>